@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.css");

img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; /* Space between video and text */
    max-width: 80%;
    margin: auto;
}

.video-wrapper {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16/9;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}

.description {
    flex: 1;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
}

body {
    background-color: #f6f8fa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container-lg {
    max-width: 100%;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.Box {
    background: #ffffff;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    margin-bottom: 16px;
}

pre {
    background: #f6f8fa;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 16px;
}

h1 {
    text-align: center;
}

h1, h2 {
    color: #24292f;
}

.f4 {
    font-size: 1.0rem;
}

.btn {
    cursor: pointer;
    margin-top: 10px;
}

.details {
    margin-top: 10px;
}

.footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    color: #555;
    padding: 20px;
    font-size: 0.9rem;
}

.authors {
    font-size: 1.5rem; /* Slightly larger font for authors */
    margin-top: 10px;
    color: #555; /* Optional: Change the color to make it subtle */
    text-align: center; /* Ensure authors are centered */
    justify-content: center; /* Space authors evenly */
    gap: 30px; /* Adjust the space between authors */
    margin-bottom: 2px;
}

.authors sup {
    font-size: .9rem; /* Slightly larger font for authors */
}

.affiliations {
    margin-top: 2px; 
    font-size: .9rem;
    font-style: italic;
    text-align: center; /* Ensure authors are centered */
    justify-content: center; /* Space authors evenly */    
}